<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1495013034289-3664878e32f8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1566&q=80);">
  <div class="container">
    <h1>AirCar</h1>
  </div>
</div>

<div class="container mt-3">
  <h2 class="text-center">How it works</h2>
  <div class="cards">
    <div class="card">
      <img src="#">
      <h4>Apply</h4>
      <p>Create your profile</p>
    </div>
    <div class="card">
      <img src="#">
      <h4>Rent</h4>
      <p>Choose a car to rent</p>
    </div>
    <div class="card">
      <img src="#">
      <h4>Rent out</h4>
      <p>Give your car to someone</p>
    </div>
  </div>
</div>
