.container {
  width: 900px;
  margin: auto;
  padding-left: 10px;
}

.text-center {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.card img {
  height: 100px;
}

.card p {
  color: #2A3D45;
}

.car-card {
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(230,230,230);
  border: 1px solid rgb(230,230,230);
  background: white;
  margin-bottom: 16px;
}

.car-container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

h1, h2, h3, h4 {
  font-family: Poppins;
  color: #2A3D45;
}

a {
  text-decoration: none;
}


.link-unstyled:hover {
  text-decoration: none;
}


.car-card-info {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car-card-year {
  font-size: 12px;
  opacity: 0.6;
  font-family: $body-font;
}

.car-card-description {
  font-size: 18px;
  opacity: 0.7;
  color: $gray;
}

.car-card-title {
  margin: 0;
  color: $gray;
  opacity: 0.8;
}

.car-card-location {
  background: #ccc;
  color: $gray;
  opacity: 0.6;
  width: fit-content;
  padding: 3px;
  border-radius: 3px;
  font-size: 12px;
  margin-top: 7px;
}

.car-card-owner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car-card-owner span {
  color: $gray;
  opacity: 0.7;
}

.price-bold {
  font-weight: bold;
  font-size: 22px;
}

.title-heart {
  display:flex;
  justify-content: space-between;
  color: black;
}

.red-heart:hover {
  color: red;
}

.price-day {
  display: flex;
  flex-direction: column;
}
