.car-carousel {
  height: 60vh;
  overflow: hidden;
}

/*   .carousel-item {
    height: 80vh;
    display: flex;
    align-items: center;}

      img {

    object-position: 50% 50%;
    object-fit: cover;
    }

  .carousel-item {
    width: 100%;

  }
*/
