.navbar-lewagon {
  justify-content: space-between;
  background: #166FD5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
  margin-left: 20px;
  margin-right: 20px;
}

.avatar {
  margin-right: 15px;
}

.color-white {
  color: white !important;
}

.color-blue {
  color: #166fd5 !important;
}
